In [6]:
#Dependencies
import pandas as pd
import requests
import json

gold = []
platinum = []

from pprint import pprint
from config import api_key

In [7]:
#Convert Gold Tier 1 URL to DF
gold_url = "https://na1.api.riotgames.com/lol/league-exp/v4/entries/RANKED_SOLO_5x5/GOLD/I?page=1&api_key=" + api_key
gold_data = requests.get(gold_url).json()
gold_data_df = pd.DataFrame(gold_data)

In [9]:
#Convert Gold Tier 2 URL to DF
gold_url2 = "https://na1.api.riotgames.com/lol/league-exp/v4/entries/RANKED_SOLO_5x5/GOLD/II?page=1&api_key=" + api_key
gold_data2 = requests.get(gold_url2).json()
gold_data_df2 = pd.DataFrame(gold_data2)

In [10]:
#Convert Gold Tier 3 URL to DF
gold_url3 = "https://na1.api.riotgames.com/lol/league-exp/v4/entries/RANKED_SOLO_5x5/GOLD/III?page=1&api_key=" + api_key
gold_data3 = requests.get(gold_url3).json()
gold_data_df3 = pd.DataFrame(gold_data3)

In [12]:
#Convert Gold Tier 4 URL to DF
gold_url4 = "https://na1.api.riotgames.com/lol/league-exp/v4/entries/RANKED_SOLO_5x5/GOLD/IV?page=1&api_key=" + api_key
gold_data4 = requests.get(gold_url4).json()
gold_data_df4 = pd.DataFrame(gold_data4)

In [15]:
#Merge Gold Tier 1 Df with Gold Tier 2 DF
half_gold_df = pd.merge(gold_data_df, gold_data_df2, how="outer", on="leagueId")
#Merge Gold Tier 3 DF with Gold Tier 4 DF
half_gold_df2 = pd.merge(gold_data_df3, gold_data_df4, how="outer", on="leagueId")
#Merge Both Half DFs together
full_gold_df = pd.merge(half_gold_df, half_gold_df2, how="outer", on="leagueId")
#Display complete merged DF
full_gold_df.head(5)

,leagueId,queueType_x_x,tier_x_x,rank_x_x,summonerId_x_x,summonerName_x_x,leaguePoints_x_x,wins_x_x,losses_x_x,veteran_x_x,...,summonerId_y_y,summonerName_y_y,leaguePoints_y_y,wins_y_y,losses_y_y,veteran_y_y,inactive_y_y,freshBlood_y_y,hotStreak_y_y,miniSeries_y_y
0,d1e891c8-78d6-4666-b079-16708ef8aad3,RANKED_SOLO_5x5,GOLD,I,kL8pVCm74gk3Tm1cRPOFMztqrOdkwqbTTpunQjRAN16K2rwW,TREEIRL420,44.0,97.0,81.0,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8ac5369d-48bf-4424-b3aa-5e1c41754cdf,RANKED_SOLO_5x5,GOLD,I,7E1B5_95CH00tnlSx1DPV9ACNyEc0lp-ktfN652M5nrGwXDf,Strategyst0,29.0,412.0,411.0,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1143a0a6-4fac-467b-9c9b-9311403d1539,RANKED_SOLO_5x5,GOLD,I,la3_GRsc9J9gN-WCJSFhKAlCXfaZrsV5P0AYWSZCjDAX-is2,seekysolace,39.0,67.0,72.0,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,e5ffd738-cb01-448e-a5ee-80e03ae50824,RANKED_SOLO_5x5,GOLD,I,v1au8CnEEwKnR3O9vAy87BLyUkLbh21PBvvfuM0UmgrdVw89,Hi Im ThePamP,57.0,87.0,75.0,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,e5ffd738-cb01-448e-a5ee-80e03ae50824,RANKED_SOLO_5x5,GOLD,I,5HMcQZlUceaazFrfJgsZGWb9RxPD2zGODRj61RjXzO0ERpE6,Shaderz,19.0,465.0,458.0,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
full_gold_df.columns

Index(['leagueId', 'queueType_x_x', 'tier_x_x', 'rank_x_x', 'summonerId_x_x',
       'summonerName_x_x', 'leaguePoints_x_x', 'wins_x_x', 'losses_x_x',
       'veteran_x_x', 'inactive_x_x', 'freshBlood_x_x', 'hotStreak_x_x',
       'miniSeries_x_x', 'queueType_y_x', 'tier_y_x', 'rank_y_x',
       'summonerId_y_x', 'summonerName_y_x', 'leaguePoints_y_x', 'wins_y_x',
       'losses_y_x', 'veteran_y_x', 'inactive_y_x', 'freshBlood_y_x',
       'hotStreak_y_x', 'miniSeries_y_x', 'queueType_x_y', 'tier_x_y',
       'rank_x_y', 'summonerId_x_y', 'summonerName_x_y', 'leaguePoints_x_y',
       'wins_x_y', 'losses_x_y', 'veteran_x_y', 'inactive_x_y',
       'freshBlood_x_y', 'hotStreak_x_y', 'miniSeries_x_y', 'queueType_y_y',
       'tier_y_y', 'rank_y_y', 'summonerId_y_y', 'summonerName_y_y',
       'leaguePoints_y_y', 'wins_y_y', 'losses_y_y', 'veteran_y_y',
       'inactive_y_y', 'freshBlood_y_y', 'hotStreak_y_y', 'miniSeries_y_y'],
      dtype='object')

In [25]:
#Conver Platinum Tier 1 URL to DF
platinum_url = "https://na1.api.riotgames.com/lol/league-exp/v4/entries/RANKED_SOLO_5x5/PLATINUM/I?page=1&api_key=" + api_key
platinum_data = requests.get(platinum_url).json()
platinum_data_df = pd.DataFrame(platinum_data)

In [26]:
#Convert Platinum Tier 2 URL to DF
platinum_url2 = "https://na1.api.riotgames.com/lol/league-exp/v4/entries/RANKED_SOLO_5x5/PLATINUM/II?page=1&api_key=" + api_key
platinum_data2 = requests.get(platinum_url2).json()
platinum_data_df2 = pd.DataFrame(platinum_data2)

In [27]:
#Convert Platinum Tier 3 URL to DF
platinum_url3 = "https://na1.api.riotgames.com/lol/league-exp/v4/entries/RANKED_SOLO_5x5/PLATINUM/III?page=1&api_key=" + api_key
platinum_data3 = requests.get(platinum_url3).json()
platinum_data_df3 = pd.DataFrame(platinum_data3)

In [28]:
#Convert Platinum Tier 4 URL to DF
platinum_url4 = "https://na1.api.riotgames.com/lol/league-exp/v4/entries/RANKED_SOLO_5x5/PLATINUM/IV?page=1&api_key=" + api_key
platinum_data4 = requests.get(platinum_url4).json()
platinum_data_df4 = pd.DataFrame(platinum_data4)

In [32]:
#Merge Platinum Tier 1 DF with Platinum Tier 2 DF
half_platinum_df = pd.merge(platinum_data_df, platinum_data_df2, how="outer", on="leagueId")
#Merge Platinum Tier 3 DF with Platinum Tier 4 DF
half_platinum_df2 = pd.merge(platinum_data_df3, platinum_data_df4, how="outer", on="leagueId")
#Merge both half DFs together
full_platinum_df = pd.merge(half_platinum_df, half_platinum_df2, how="outer", on="leagueId")
#Display complete Platinum DF
full_platinum_df

,leagueId,queueType_x_x,tier_x_x,rank_x_x,summonerId_x_x,summonerName_x_x,leaguePoints_x_x,wins_x_x,losses_x_x,veteran_x_x,...,summonerId_y_y,summonerName_y_y,leaguePoints_y_y,wins_y_y,losses_y_y,veteran_y_y,inactive_y_y,freshBlood_y_y,hotStreak_y_y,miniSeries_y_y
0,e9535aff-8d6f-4d83-aa68-be700453edf8,RANKED_SOLO_5x5,PLATINUM,I,b4h6IfSFfV1HGoqCTqKRoBuT6DLuRCFq6dLTGMhN0VF_4I8y,xTc4,75.0,99.0,95.0,False,...,1ar8g98NSJy8ahFzsJ_NHMmQXwqYW12lr5SMWIhp-PtWFNJx,WzxBoyfriend,9.0,175.0,163.0,False,False,False,False,NaN
1,e9535aff-8d6f-4d83-aa68-be700453edf8,RANKED_SOLO_5x5,PLATINUM,I,YFxdGdDTOFjVLR7E1vkfWaquVvrd-RfwVk5EDyPBPbhORwx4,Ye Su Nim,0.0,203.0,152.0,False,...,1ar8g98NSJy8ahFzsJ_NHMmQXwqYW12lr5SMWIhp-PtWFNJx,WzxBoyfriend,9.0,175.0,163.0,False,False,False,False,NaN
2,2a6ec9b0-cc92-48cc-baa8-c80994d14bba,RANKED_SOLO_5x5,PLATINUM,I,HkC5-BPZ_UK0-8WIt5o0V3EHSI0-DBZnWwKehVV6d_WG0uhQ,play to think,75.0,109.0,84.0,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2a6ec9b0-cc92-48cc-baa8-c80994d14bba,RANKED_SOLO_5x5,PLATINUM,I,n42Eq1YXIaq1dG6asw5X2_xq9mTxNi9At2wDdCgfY_ZTiPKJ,IAmNotTheBest,39.0,142.0,80.0,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2a6ec9b0-cc92-48cc-baa8-c80994d14bba,RANKED_SOLO_5x5,PLATINUM,I,FOrPPE-zBTn2gqkKSQ4gGcS_RfA9ZU0zZfFPUhiMgapmpF3E,Was Reformed,75.0,73.0,82.0,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
642,a51d080b-4005-4c48-bac2-0d8d242310c4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,BFdbIcbe-RSyUu6lwpQhjikrhr7m-9ivMgL3cm0cZqceY6YO,KazeHokosha,23.0,99.0,51.0,False,False,False,False,NaN
643,55c3778e-8ff2-4a91-ad8b-c70326fea2ab,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,qEw1QYRucCfQ346nZZC_A5IB8Zd9O6NZsqtmLDJ7Jhr1hFqw,Diomedes Days,39.0,60.0,60.0,False,False,False,False,NaN
644,7e2649c1-e1c9-4764-9f2c-2bfacf96d8dc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,HDa9_WSsZUJ2biJ-8sHI5PKcMR_YCocTCGyAVJwxUFldR4S2,Kata Hoe,4.0,88.0,77.0,False,False,False,False,NaN
645,39380f57-d628-4acc-a680-eba2c258c1e5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,AVCroSDCW5jM_h55IdWVfDIev4USRel9w3cd-1jSs1rTjFou,The Namitee,39.0,25.0,13.0,False,False,False,False,NaN
646,9e2dc130-18ac-4712-99fb-b96e8ae01c74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DwBc_99U4CAdAgqIcyfvvpVTuyuVEYDN_Er9bf7UQg7wzQou,100 ms player,75.0,263.0,263.0,False,False,False,False,NaN