In [6]:
#Dependencies
import pandas as pd
import requests
import json

gold = []
platinum = []

from pprint import pprint
from config import api_key

In [7]:
#Convert Gold Tier 1 URL to DF
gold_url = "https://na1.api.riotgames.com/lol/league-exp/v4/entries/RANKED_SOLO_5x5/GOLD/I?page=1&api_key=" + api_key
gold_data = requests.get(gold_url).json()
gold_data_df = pd.DataFrame(gold_data)

In [9]:
#Convert Gold Tier 2 URL to DF
gold_url2 = "https://na1.api.riotgames.com/lol/league-exp/v4/entries/RANKED_SOLO_5x5/GOLD/II?page=1&api_key=" + api_key
gold_data2 = requests.get(gold_url2).json()
gold_data_df2 = pd.DataFrame(gold_data2)

In [10]:
#Convert Gold Tier 3 URL to DF
gold_url3 = "https://na1.api.riotgames.com/lol/league-exp/v4/entries/RANKED_SOLO_5x5/GOLD/III?page=1&api_key=" + api_key
gold_data3 = requests.get(gold_url3).json()
gold_data_df3 = pd.DataFrame(gold_data3)

In [12]:
#Convert Gold Tier 4 URL to DF
gold_url4 = "https://na1.api.riotgames.com/lol/league-exp/v4/entries/RANKED_SOLO_5x5/GOLD/IV?page=1&api_key=" + api_key
gold_data4 = requests.get(gold_url4).json()
gold_data_df4 = pd.DataFrame(gold_data4)

In [41]:
#
GDF = [gold_data_df, gold_data_df2, gold_data_df3, gold_data_df4]
gold_df = pd.concat(GDF)
gold_df

,leagueId,queueType,tier,rank,summonerId,summonerName,leaguePoints,wins,losses,veteran,inactive,freshBlood,hotStreak,miniSeries
0,d1e891c8-78d6-4666-b079-16708ef8aad3,RANKED_SOLO_5x5,GOLD,I,kL8pVCm74gk3Tm1cRPOFMztqrOdkwqbTTpunQjRAN16K2rwW,TREEIRL420,44,97,81,False,False,False,False,NaN
1,8ac5369d-48bf-4424-b3aa-5e1c41754cdf,RANKED_SOLO_5x5,GOLD,I,7E1B5_95CH00tnlSx1DPV9ACNyEc0lp-ktfN652M5nrGwXDf,Strategyst0,29,412,411,False,False,False,False,NaN
2,1143a0a6-4fac-467b-9c9b-9311403d1539,RANKED_SOLO_5x5,GOLD,I,la3_GRsc9J9gN-WCJSFhKAlCXfaZrsV5P0AYWSZCjDAX-is2,seekysolace,39,67,72,False,False,False,False,NaN
3,e5ffd738-cb01-448e-a5ee-80e03ae50824,RANKED_SOLO_5x5,GOLD,I,v1au8CnEEwKnR3O9vAy87BLyUkLbh21PBvvfuM0UmgrdVw89,Hi Im ThePamP,57,87,75,False,False,False,False,NaN
4,fcd88f5f-edf9-4f4b-877a-90794138d734,RANKED_SOLO_5x5,GOLD,I,0JSqeGAD0ZPfBOdPtd7uRQlsQ7qkX3-9pjQD9DHJbu3YdNTQ,Headoshoto,48,99,71,False,False,False,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,a5062bd4-46ae-4aff-a551-6506c5155862,RANKED_SOLO_5x5,GOLD,IV,yA-P06N7kzc2k7y2WBo3Rz36fqOzAN1quZ3_rv48LGP4LdDz,JIoIIIaDkagFPGg,11,266,303,True,False,False,False,NaN
201,c4542d75-84c4-443d-b642-54cd58c9849b,RANKED_SOLO_5x5,GOLD,IV,xjR8rSWOSUVbTtWNANdRsr69MdF13zqexFuxxzmz9E9C7O7N,marrieletsgo,0,92,87,False,False,False,False,NaN
202,6725408c-0dc4-4359-a1a2-12908c863504,RANKED_SOLO_5x5,GOLD,IV,WdNFcCkmR13MQa_jucgOvxtcqqPcZpG3fI5aGzdH3rHmFRZa,Dęath Lotus,0,57,58,False,False,False,False,NaN
203,781a06a3-b4d8-4d39-bee1-edbf310392d1,RANKED_SOLO_5x5,GOLD,IV,yICj4SqX9YC9zxEb1d1wAGURQKcioTYMT5eo6BDfdA2SFAVg,ijustwannasup,58,36,20,False,False,False,False,NaN
204,8c0206e9-27d3-4eca-b7ad-2139f48ff888,RANKED_SOLO_5x5,GOLD,IV,r6ywSHH2SInC4Wx5x46sbutqlWV-buTpjG9CzA-x55w5uq6y,XiaoHurt,66,47,38,False,False,False,True,NaN

In [63]:
clean_gold_df = gold_df.drop(columns=['queueType', 'summonerName', 'inactive', 'freshBlood', 'hotStreak', 'miniSeries'])

In [64]:
clean_gold_df.count()

leagueId        820
tier            820
rank            820
summonerId      820
leaguePoints    820
wins            820
losses          820
veteran         820
dtype: int64

In [50]:
clean_gold_df

,tier,rank,summonerId,wins,losses,veteran
0,GOLD,I,kL8pVCm74gk3Tm1cRPOFMztqrOdkwqbTTpunQjRAN16K2rwW,97,81,False
1,GOLD,I,7E1B5_95CH00tnlSx1DPV9ACNyEc0lp-ktfN652M5nrGwXDf,412,411,False
2,GOLD,I,la3_GRsc9J9gN-WCJSFhKAlCXfaZrsV5P0AYWSZCjDAX-is2,67,72,False
3,GOLD,I,v1au8CnEEwKnR3O9vAy87BLyUkLbh21PBvvfuM0UmgrdVw89,87,75,False
4,GOLD,I,0JSqeGAD0ZPfBOdPtd7uRQlsQ7qkX3-9pjQD9DHJbu3YdNTQ,99,71,False
...,...,...,...,...,...,...
200,GOLD,IV,yA-P06N7kzc2k7y2WBo3Rz36fqOzAN1quZ3_rv48LGP4LdDz,266,303,True
201,GOLD,IV,xjR8rSWOSUVbTtWNANdRsr69MdF13zqexFuxxzmz9E9C7O7N,92,87,False
202,GOLD,IV,WdNFcCkmR13MQa_jucgOvxtcqqPcZpG3fI5aGzdH3rHmFRZa,57,58,False
203,GOLD,IV,yICj4SqX9YC9zxEb1d1wAGURQKcioTYMT5eo6BDfdA2SFAVg,36,20,False
204,GOLD,IV,r6ywSHH2SInC4Wx5x46sbutqlWV-buTpjG9CzA-x55w5uq6y,47,38,False

In [65]:
gold_df.dtypes

leagueId        object
queueType       object
tier            object
rank            object
summonerId      object
summonerName    object
leaguePoints     int64
wins             int64
losses           int64
veteran           bool
inactive          bool
freshBlood        bool
hotStreak         bool
miniSeries      object
dtype: object

In [66]:
clean_gold_df.describe()

       leaguePoints         wins       losses
count    820.000000   820.000000   820.000000
mean      36.664634   145.053659   137.887805
std       32.679312   139.425849   140.399664
min        0.000000     1.000000     1.000000
25%        2.750000    52.000000    41.000000
50%       29.000000   104.000000    94.000000
75%       63.000000   187.500000   182.250000
max      100.000000  1289.000000  1266.000000

In [53]:
clean_gold_df.count()

tier          820
rank          820
summonerId    820
wins          820
losses        820
veteran       820
dtype: int64

In [25]:
#Conver Platinum Tier 1 URL to DF
platinum_url = "https://na1.api.riotgames.com/lol/league-exp/v4/entries/RANKED_SOLO_5x5/PLATINUM/I?page=1&api_key=" + api_key
platinum_data = requests.get(platinum_url).json()
platinum_data_df = pd.DataFrame(platinum_data)

In [26]:
#Convert Platinum Tier 2 URL to DF
platinum_url2 = "https://na1.api.riotgames.com/lol/league-exp/v4/entries/RANKED_SOLO_5x5/PLATINUM/II?page=1&api_key=" + api_key
platinum_data2 = requests.get(platinum_url2).json()
platinum_data_df2 = pd.DataFrame(platinum_data2)

In [27]:
#Convert Platinum Tier 3 URL to DF
platinum_url3 = "https://na1.api.riotgames.com/lol/league-exp/v4/entries/RANKED_SOLO_5x5/PLATINUM/III?page=1&api_key=" + api_key
platinum_data3 = requests.get(platinum_url3).json()
platinum_data_df3 = pd.DataFrame(platinum_data3)

In [28]:
#Convert Platinum Tier 4 URL to DF
platinum_url4 = "https://na1.api.riotgames.com/lol/league-exp/v4/entries/RANKED_SOLO_5x5/PLATINUM/IV?page=1&api_key=" + api_key
platinum_data4 = requests.get(platinum_url4).json()
platinum_data_df4 = pd.DataFrame(platinum_data4)

In [56]:
PDF = [platinum_data_df, platinum_data_df2, platinum_data_df3, platinum_data_df4]
platinum_df = pd.concat(PDF)

In [62]:
clean_platinum_df = platinum_df.drop(columns=['queueType', 'summonerName', 'inactive', 'freshBlood', 'hotStreak', 'miniSeries'])
clean_platinum_df.head()

,leagueId,tier,rank,summonerId,leaguePoints,wins,losses,veteran
0,e9535aff-8d6f-4d83-aa68-be700453edf8,PLATINUM,I,b4h6IfSFfV1HGoqCTqKRoBuT6DLuRCFq6dLTGMhN0VF_4I8y,75,99,95,False
1,2a6ec9b0-cc92-48cc-baa8-c80994d14bba,PLATINUM,I,HkC5-BPZ_UK0-8WIt5o0V3EHSI0-DBZnWwKehVV6d_WG0uhQ,75,109,84,False
2,ced18464-d729-4402-8f39-7f7e43c53865,PLATINUM,I,u77KfuIbs3RNRfbOiLzmXpZ14y7FNE_48ftRI89bAqm2QVt-,75,148,112,False
3,5bc80f3d-d247-4beb-a9ca-27acb9847e1b,PLATINUM,I,45b8LY65Z7GRd7S3DqOFUuO_Nsiq5sRViWqP8Oqpz9ZAmBvW,0,12,10,False
4,5760a640-7af9-4935-bbb8-6f3ed3ecd6bf,PLATINUM,I,KEbyRB6ic7pQwFODe_gXZEbQDutrvp1WRLvIrAu661HEM0vE,36,7,10,False

In [60]:
clean_platinum_df.count()

leagueId        820
tier            820
rank            820
summonerId      820
leaguePoints    820
wins            820
losses          820
veteran         820
dtype: int64

In [ ]:
#Create Empty Lists
summoner_id = []
veteran = []
tier = []
rank = []

#Append Data into Lists