In [4]:
#Dependencies
import pandas as pd
import requests
import json

gold = []
platinum = []

from pprint import pprint
from config import api_key

In [5]:
#Convert Gold Tier 1 URL to DF
gold_url = "https://na1.api.riotgames.com/lol/league-exp/v4/entries/RANKED_SOLO_5x5/GOLD/I?page=1&api_key=" + api_key
gold_data = requests.get(gold_url).json()
gold_data_df = pd.DataFrame(gold_data)

gold_data_df.head()

,leagueId,queueType,tier,rank,summonerId,summonerName,leaguePoints,wins,losses,veteran,inactive,freshBlood,hotStreak,miniSeries
0,d1e891c8-78d6-4666-b079-16708ef8aad3,RANKED_SOLO_5x5,GOLD,I,kL8pVCm74gk3Tm1cRPOFMztqrOdkwqbTTpunQjRAN16K2rwW,TREEIRL420,44,97,81,False,False,False,False,NaN
1,8ac5369d-48bf-4424-b3aa-5e1c41754cdf,RANKED_SOLO_5x5,GOLD,I,7E1B5_95CH00tnlSx1DPV9ACNyEc0lp-ktfN652M5nrGwXDf,Strategyst0,29,412,411,False,False,False,False,NaN
2,1143a0a6-4fac-467b-9c9b-9311403d1539,RANKED_SOLO_5x5,GOLD,I,la3_GRsc9J9gN-WCJSFhKAlCXfaZrsV5P0AYWSZCjDAX-is2,seekysolace,3,68,75,False,False,False,False,NaN
3,e5ffd738-cb01-448e-a5ee-80e03ae50824,RANKED_SOLO_5x5,GOLD,I,v1au8CnEEwKnR3O9vAy87BLyUkLbh21PBvvfuM0UmgrdVw89,Hi Im ThePamP,57,87,75,False,False,False,False,NaN
4,fcd88f5f-edf9-4f4b-877a-90794138d734,RANKED_SOLO_5x5,GOLD,I,0JSqeGAD0ZPfBOdPtd7uRQlsQ7qkX3-9pjQD9DHJbu3YdNTQ,Headoshoto,48,99,71,False,False,False,False,NaN

In [7]:
gold_data_df['summonerId'].astype(str)

0      kL8pVCm74gk3Tm1cRPOFMztqrOdkwqbTTpunQjRAN16K2rwW
1      7E1B5_95CH00tnlSx1DPV9ACNyEc0lp-ktfN652M5nrGwXDf
2      la3_GRsc9J9gN-WCJSFhKAlCXfaZrsV5P0AYWSZCjDAX-is2
3      v1au8CnEEwKnR3O9vAy87BLyUkLbh21PBvvfuM0UmgrdVw89
4      0JSqeGAD0ZPfBOdPtd7uRQlsQ7qkX3-9pjQD9DHJbu3YdNTQ
                             ...
200    6Yp1_qhY9rRdFNsdM_aYNDqZjsdETr1krPOqMstPyL1jbA2W
201    yJtjuMThQjvtfIGpC5--q2kk7H2KHVDs2Og9irizTCsmmfuT
202    afJy7paQGU2sEcF_vnuhxcTGJqMd3RX4EZnIJf27zUrDq18U
203    Hq3cYCUoKb77D7Aw8CXGxliEjh0GXdSawZfxNNRilitqniA-
204    zCgpRBzohtu_m5tEcdgoekAj_bawAxDjz-hDGYX0WciN_s_M
Name: summonerId, Length: 205, dtype: object

In [8]:
gold_data_df['summonerId'] = gold_data_df['summonerId'].astype(str).str.replace('/',' ')


gold_data_df.dtypes

leagueId        object
queueType       object
tier            object
rank            object
summonerId      object
summonerName    object
leaguePoints     int64
wins             int64
losses           int64
veteran           bool
inactive          bool
freshBlood        bool
hotStreak         bool
miniSeries      object
dtype: object

In [9]:
#Convert Gold Tier 2 URL to DF
gold_url2 = "https://na1.api.riotgames.com/lol/league-exp/v4/entries/RANKED_SOLO_5x5/GOLD/II?page=1&api_key=" + api_key
gold_data2 = requests.get(gold_url2).json()
gold_data_df2 = pd.DataFrame(gold_data2)

In [10]:
#Convert Gold Tier 3 URL to DF
gold_url3 = "https://na1.api.riotgames.com/lol/league-exp/v4/entries/RANKED_SOLO_5x5/GOLD/III?page=1&api_key=" + api_key
gold_data3 = requests.get(gold_url3).json()
gold_data_df3 = pd.DataFrame(gold_data3)

In [11]:
#Convert Gold Tier 4 URL to DF
gold_url4 = "https://na1.api.riotgames.com/lol/league-exp/v4/entries/RANKED_SOLO_5x5/GOLD/IV?page=1&api_key=" + api_key
gold_data4 = requests.get(gold_url4).json()
gold_data_df4 = pd.DataFrame(gold_data4)

In [12]:
#Concat 4 tier DF into 1 DF
GDF = [gold_data_df, gold_data_df2, gold_data_df3, gold_data_df4]
gold_df = pd.concat(GDF)
gold_df

,leagueId,queueType,tier,rank,summonerId,summonerName,leaguePoints,wins,losses,veteran,inactive,freshBlood,hotStreak,miniSeries
0,d1e891c8-78d6-4666-b079-16708ef8aad3,RANKED_SOLO_5x5,GOLD,I,kL8pVCm74gk3Tm1cRPOFMztqrOdkwqbTTpunQjRAN16K2rwW,TREEIRL420,44,97,81,False,False,False,False,NaN
1,8ac5369d-48bf-4424-b3aa-5e1c41754cdf,RANKED_SOLO_5x5,GOLD,I,7E1B5_95CH00tnlSx1DPV9ACNyEc0lp-ktfN652M5nrGwXDf,Strategyst0,29,412,411,False,False,False,False,NaN
2,1143a0a6-4fac-467b-9c9b-9311403d1539,RANKED_SOLO_5x5,GOLD,I,la3_GRsc9J9gN-WCJSFhKAlCXfaZrsV5P0AYWSZCjDAX-is2,seekysolace,3,68,75,False,False,False,False,NaN
3,e5ffd738-cb01-448e-a5ee-80e03ae50824,RANKED_SOLO_5x5,GOLD,I,v1au8CnEEwKnR3O9vAy87BLyUkLbh21PBvvfuM0UmgrdVw89,Hi Im ThePamP,57,87,75,False,False,False,False,NaN
4,fcd88f5f-edf9-4f4b-877a-90794138d734,RANKED_SOLO_5x5,GOLD,I,0JSqeGAD0ZPfBOdPtd7uRQlsQ7qkX3-9pjQD9DHJbu3YdNTQ,Headoshoto,48,99,71,False,False,False,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,e28d8ada-c72e-43ed-b682-6dc4a1455324,RANKED_SOLO_5x5,GOLD,IV,_SiNjuJgGTYKU-qKqnxdULLTwsJaPJ6NMh_1zD8l3PbM6Hds,merrilydry,72,179,160,False,False,False,False,NaN
201,632117fc-b6ac-44c0-b134-5be69b813823,RANKED_SOLO_5x5,GOLD,IV,_eRC558rK_wgMHd22WQfuqaoVFHkR0bv-wXAvtjU9r4ougLk,RuiQiDeng,98,341,311,True,False,False,True,NaN
202,a5062bd4-46ae-4aff-a551-6506c5155862,RANKED_SOLO_5x5,GOLD,IV,yA-P06N7kzc2k7y2WBo3Rz36fqOzAN1quZ3_rv48LGP4LdDz,JIoIIIaDkagFPGg,15,268,308,True,False,False,False,NaN
203,c4542d75-84c4-443d-b642-54cd58c9849b,RANKED_SOLO_5x5,GOLD,IV,xjR8rSWOSUVbTtWNANdRsr69MdF13zqexFuxxzmz9E9C7O7N,marrieletsgo,0,92,87,False,False,False,False,NaN
204,6725408c-0dc4-4359-a1a2-12908c863504,RANKED_SOLO_5x5,GOLD,IV,WdNFcCkmR13MQa_jucgOvxtcqqPcZpG3fI5aGzdH3rHmFRZa,Dęath Lotus,0,57,58,False,False,False,False,NaN

In [13]:
gold_df.to_excel(r'/Users/jw/Desktop/Group-3-Project\Gold_DF.xlsx', index = False)

In [14]:
#Drop unneeded columns
clean_gold_df = gold_df.drop(columns=['queueType', 'summonerName', 'inactive', 'freshBlood', 'hotStreak', 'miniSeries'])

In [15]:
#Check for Null Values
clean_gold_df.count()

leagueId        820
tier            820
rank            820
summonerId      820
leaguePoints    820
wins            820
losses          820
veteran         820
dtype: int64

In [16]:
#Display new/clean Gold DF
clean_gold_df

,leagueId,tier,rank,summonerId,leaguePoints,wins,losses,veteran
0,d1e891c8-78d6-4666-b079-16708ef8aad3,GOLD,I,kL8pVCm74gk3Tm1cRPOFMztqrOdkwqbTTpunQjRAN16K2rwW,44,97,81,False
1,8ac5369d-48bf-4424-b3aa-5e1c41754cdf,GOLD,I,7E1B5_95CH00tnlSx1DPV9ACNyEc0lp-ktfN652M5nrGwXDf,29,412,411,False
2,1143a0a6-4fac-467b-9c9b-9311403d1539,GOLD,I,la3_GRsc9J9gN-WCJSFhKAlCXfaZrsV5P0AYWSZCjDAX-is2,3,68,75,False
3,e5ffd738-cb01-448e-a5ee-80e03ae50824,GOLD,I,v1au8CnEEwKnR3O9vAy87BLyUkLbh21PBvvfuM0UmgrdVw89,57,87,75,False
4,fcd88f5f-edf9-4f4b-877a-90794138d734,GOLD,I,0JSqeGAD0ZPfBOdPtd7uRQlsQ7qkX3-9pjQD9DHJbu3YdNTQ,48,99,71,False
...,...,...,...,...,...,...,...,...
200,e28d8ada-c72e-43ed-b682-6dc4a1455324,GOLD,IV,_SiNjuJgGTYKU-qKqnxdULLTwsJaPJ6NMh_1zD8l3PbM6Hds,72,179,160,False
201,632117fc-b6ac-44c0-b134-5be69b813823,GOLD,IV,_eRC558rK_wgMHd22WQfuqaoVFHkR0bv-wXAvtjU9r4ougLk,98,341,311,True
202,a5062bd4-46ae-4aff-a551-6506c5155862,GOLD,IV,yA-P06N7kzc2k7y2WBo3Rz36fqOzAN1quZ3_rv48LGP4LdDz,15,268,308,True
203,c4542d75-84c4-443d-b642-54cd58c9849b,GOLD,IV,xjR8rSWOSUVbTtWNANdRsr69MdF13zqexFuxxzmz9E9C7O7N,0,92,87,False
204,6725408c-0dc4-4359-a1a2-12908c863504,GOLD,IV,WdNFcCkmR13MQa_jucgOvxtcqqPcZpG3fI5aGzdH3rHmFRZa,0,57,58,False

In [17]:
clean_gold_df.to_excel(r'/Users/jw/Desktop/Group-3-Project\Clean_Gold_DF.xlsx', index = False)

In [18]:
#Convert Platinum Tier 1 URL to DF
platinum_url = "https://na1.api.riotgames.com/lol/league-exp/v4/entries/RANKED_SOLO_5x5/PLATINUM/I?page=1&api_key=" + api_key
platinum_data = requests.get(platinum_url).json()
platinum_data_df = pd.DataFrame(platinum_data)

In [19]:
#Convert Platinum Tier 2 URL to DF
platinum_url2 = "https://na1.api.riotgames.com/lol/league-exp/v4/entries/RANKED_SOLO_5x5/PLATINUM/II?page=1&api_key=" + api_key
platinum_data2 = requests.get(platinum_url2).json()
platinum_data_df2 = pd.DataFrame(platinum_data2)

In [20]:
#Convert Platinum Tier 3 URL to DF
platinum_url3 = "https://na1.api.riotgames.com/lol/league-exp/v4/entries/RANKED_SOLO_5x5/PLATINUM/III?page=1&api_key=" + api_key
platinum_data3 = requests.get(platinum_url3).json()
platinum_data_df3 = pd.DataFrame(platinum_data3)

In [21]:
#Convert Platinum Tier 4 URL to DF
platinum_url4 = "https://na1.api.riotgames.com/lol/league-exp/v4/entries/RANKED_SOLO_5x5/PLATINUM/IV?page=1&api_key=" + api_key
platinum_data4 = requests.get(platinum_url4).json()
platinum_data_df4 = pd.DataFrame(platinum_data4)

In [22]:
#Merge all DF into one using Concat
PDF = [platinum_data_df, platinum_data_df2, platinum_data_df3, platinum_data_df4]
platinum_df = pd.concat(PDF)

In [23]:
platinum_df.to_excel(r'/Users/jw/Desktop/Group-3-Project\Platinum_DF.xlsx', index = False)

In [24]:
clean_platinum_df = platinum_df.drop(columns=['queueType', 'summonerName', 'inactive', 'freshBlood', 'hotStreak', 'miniSeries'])
clean_platinum_df.head()

,leagueId,tier,rank,summonerId,leaguePoints,wins,losses,veteran
0,e9535aff-8d6f-4d83-aa68-be700453edf8,PLATINUM,I,b4h6IfSFfV1HGoqCTqKRoBuT6DLuRCFq6dLTGMhN0VF_4I8y,75,99,95,False
1,2a6ec9b0-cc92-48cc-baa8-c80994d14bba,PLATINUM,I,HkC5-BPZ_UK0-8WIt5o0V3EHSI0-DBZnWwKehVV6d_WG0uhQ,75,109,84,False
2,ced18464-d729-4402-8f39-7f7e43c53865,PLATINUM,I,u77KfuIbs3RNRfbOiLzmXpZ14y7FNE_48ftRI89bAqm2QVt-,75,148,112,False
3,5bc80f3d-d247-4beb-a9ca-27acb9847e1b,PLATINUM,I,45b8LY65Z7GRd7S3DqOFUuO_Nsiq5sRViWqP8Oqpz9ZAmBvW,0,12,10,False
4,5760a640-7af9-4935-bbb8-6f3ed3ecd6bf,PLATINUM,I,KEbyRB6ic7pQwFODe_gXZEbQDutrvp1WRLvIrAu661HEM0vE,36,7,10,False

In [ ]:
clean_platinum_df.to_excel(r'/Users/jw/Desktop/Group-3-Project/Clean_Gold_DF.xlsx', index = False)

In [60]:
#Check for Null values
clean_platinum_df.count()

leagueId        820
tier            820
rank            820
summonerId      820
leaguePoints    820
wins            820
losses          820
veteran         820
dtype: int64

In [ ]:
#Create Empty Lists
p_summoner_id = []

g_summoner_id = []


#Append summonerId into List

response =